body {
    display: grid;
    min-height: 100vh;
    grid-template: 70px 1fr 30px/ 1fr;
    margin: 0;
}

header {
    background-color: orange;
    grid-row: 1;
}

main {
    grid-row: 2;
}

footer {
    background-color: green;
    grid-row: 3;
}
