
<div class="dicriptioncontainer">

    <div class="dicriptionnavbar">
        <h2>My Projects</h2>
        {{>nav}}
    </div>

    <div class="discription">

        <div class="">
         <img src="/images/notexists.jpg" alt="">
        </div>
        <div class="">
            <h1>Please select an existing project from the list.</h1>
        </div>


    </div>

</div>
