body {
    margin: 0;
}

#mtains {
    position: relative;
    height: 800px;
    overflow: hidden;
}
.mtain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
}

.mtain.onscreen {
    transform: translateX(0%);
    border-color: red;
    transition-property: transform;
    transition-duration: 1500ms;
}

.mtain.onscreen img {
    transform: translateX(0%);
    border-radius: 120px;
    transition-property: border-radius;
    transition-duration: 1500ms;
}

.mtain.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1500ms;
}

.mtain.exit img {
    border-radius: 0px;
    transition-property: border-radius;
    transition-duration: 1500ms;
}

.mtain img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

#dots {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.dot {
    width: 20px;
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 20px;
    height: 20px;
    border: 2px solid white;
}

.dot.on {
    background-color: white;
}
