<div class="partial">

    <h2>This is my Nav bar</h2>
    <ul>
        {{#characters}}

        <li>
            <a href="/{{character}}">{{character}}</a>
        </li>
        {{/characters}}

    </ul>
</div>
