.header {
    border: 6px solid black;
    height: 400px;
    top: 40px;
}

#logo {
    width: 200px;
    height: 200px;
    background: red;
}

#menu {
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
    z-index: 60;
}
