div {
    display: inline-block;
}

#container {
    border: 5px solid green;
    width: 650px;
    height: 350px;
    padding: 20px;
}

.box {
    background: violet;
    width: 200px;
    height: 300px;
    font-style: i;
}

#circle {
    background: tomato;
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
