body {
    margin: 1px;
}

.container {
    width: 1200px;
    height: 600px;
    position: relative;
}

#top {
    z-index: 89;
    overflow: hidden;
    width: 50%;
}
.top,
.bottom {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

img {
    width: 1200px;
    height: 600px;
}

.bar {
    box-sizing: border-box;
    position: absolute;
    z-index: 90;
    height: 100%;
    left: 50%;
    background-color: green;
    opacity: 0.6;
    width: 15px;
    border: 2px solid black;
    cursor: col-resize;
}
