<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Main handlebars</title>
    </head>
    <body>
        <div class="main">
            {{>nav}}
            {{{ body }}}

        </div>
    </body>
</html>
